<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>Profile</h2>
      <%= image_tag @user.image_id.url, width: "70%", class: "img-thumbnail" %></br>
      <p></p>
      <table width="90%">
        <tr class="profile">
          <td class="col-md-5 col-sm-5">ニックネーム</td>
          <td><%= @user.name %></td>
        </tr>
        <tr class="profile">
          <td class="col-md-5 col-sm-5">自己紹介</td>
          <td><%= @user.introduction %></td>
        </tr>
        <tr class="profile">
          <td class="col-md-5 col-sm-5">フォロー</td>
          <td class="follow-border">
            <%= link_to followings_path, class: "link following" do %>
              <%= @user.following_user.count %>
            <% end %>
            人
          </td>
        </tr>
        <tr class="profile">
          <td class="col-md-5 col-sm-5">フォロワー</td>
          <td class="follow-border">
            <%= link_to followers_path, class: "link follower" do %>
              <%= @user.follower_user.count %>
            <% end %>
            人
          </td>
        </tr>
      </table>
      <% if @user == current_user %>
        <div class="text-right mr-5 pr-2 mt-3">
          <%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-primary btn-sm px-3" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-7">
      <h2>Post's list</h2>
        <% @user.posts.reverse.each do |post| %>
          <div class="user-posts">
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.image_id.url, size: "200x160" %>
            <% end %>
          </div>
        <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>