<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @user.name %>'s Page</h2>
    </div>
    <div class="col-md-5">
      <h4>Profile</h4>
        <%= image_tag @user.image_id.url, width: "70%", class: "img-thumbnail" %></br>
          <p></p>
        <%= @user.introduction %>
      <table>
        <tr>
          <td>フォロー</td>
          <td>
            <%= link_to followings_path do %>
              <%= @user.following_user.count %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>フォロワー</td>
          <td>
            <%= link_to followers_path do %>
              <%= @user.follower_user.count %>
            <% end %>
          </td>
        </tr>
      </table>
      <% if @user == current_user %>
        <div class="col mt-5">
          <%= link_to "ユーザー情報を編集する", edit_user_path(@user.id), class: "btn btn-outline-dark btn-sm" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-7">
      <h4>Post's list</h4>
        <% @user.posts.reverse.each do |post| %>
          <div class="user_posts">
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.image_id.url, size: "200x160" %>
            <% end %>
          </div>
        <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>