<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>New Post</h2>
    </div>
    <div class="col-md-12">
    <%= form_with model: @post, url: posts_path, local: true do |f| %>
      <div class="col-md-6 image">
        <div>
          <% if @post.image_id.present? %>
            <%= image_tag @post.image_id, id: :image_prev %>
          <% else %>
            <i class="fas fa-image" id="img_prev"></i>
          <% end %>
        </div>
        <%= f.file_field :image_id, class: "image", id: "file" %>
      </div>
      <div class="col-md-6">
        <table>
          <tr>
            <td><%= f.label :title, "Title" %></td>
            <td><%= f.text_field :title %></td>
          </tr>
          <tr>
            <td><%= f.label :country, "Country" %></td>
            <td><%= f.text_field :country %></td>
          </tr>
          <tr>
            <td><%= f.label :text, "Text" %></td>
            <td><%= f.text_area :text %></td>
          </tr>
        </table>
        <%= f.submit "投稿する", class: "btn btn-success btn-md" %>
      </div>
    <% end %>
    </div>
  </div>
</div>