<div class="container">
  <%= form_with model: @post, url: posts_path, local: true do |f| %>
    <div class="row">
      <div class="col-md-12 mb-4">
        <h2>New Post</h2>
      </div>
      <div class="col-md-6 image">
        <div class="field">
          <%= f.file_field :image_id, class: "img-field", style: "display:none" %>
        </div>
        <%= image_tag @post.image_id.url, onClick: "$('.img-field').click()", class: "img-thumbnail img-prev" %>
      </div>
      <div class="col-md-6 mt-5 pt-3">
        <p class="flash"><%= flash[:no_post] %></p>
        <table>
          <tr>
            <td><p class="table-head"><%= f.label :title, "Title" %></p></td>
            <td class="col-md-1"></td>
            <td><p><%= f.text_field :title, size: "30" %></p></td>
          </tr>
          <tr>
            <td><p class="table-head"><%= f.label :country, "Country" %></p></td>
            <td></td>
            <td><p><%= f.text_field :country, size: "30" %></p></td>
          </tr>
          <tr>
            <td><p class="table-head mb-5 pb-5"><%= f.label :text, "Text" %></p></td>
            <td></td>
            <td><p><%= f.text_area :text, size: "40x4" %></p></td>
          </tr>
        </table>
        <div class="actions text-right">
          <%= f.submit "投稿する", class: "btn btn-success btn-md" %>
        </div>
      </div>
    </div>
  <% end %>
</div>