<div class="container">
  <div class="row">
    <div class="col-md-12 mb-3">
      <h2>Post detail</h2>
    </div>
    <div class="col-md-6">
      <%= image_tag @post.image_id.url, class: "img-thumbnail" %><br />
      <i class="fas fa-comment"></i>&thinsp;<%= @post_comments.count %><br />
      <%= render "layouts/favorite", post: @post %>
    </div>
    <div class="col-md-6">
      <table class="mb-3">
        <tr>
          <th><span class="table-head">User</span></th>
          <td class="col-md-1 col-sm-1"></td>
          <td>
            <%= link_to user_path(@user) do %>
            <span class="table-data link">
            <%= @user.name %>
            </span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><span class="table-head">Title</span></th>
          <td></td>
          <td><span class="table-data"><%= @post.title %></span></td>
        </tr>
        <tr>
          <th><span class="table-head">Country</span></th>
          <td></td>
          <td><span class="table-data"><%= @post.country %></span></td>
        </tr>
        <tr>
          <th><span class="table-head">Text</span></th>
          <td></td>
          <td><span class="table-data"><%= @post.text %></span></td>
        </tr>
      </table>
      <% if @user == current_user %>
        <div class="text-right">
          <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-primary btn-sm px-3" %>
        </div>
      <% end %>
      <% if @post_comments.count == 0 %>
        <h2>No Comment</h2>
      <% elsif @post_comments.count == 1 %>
        <h2><span class="comment-count">1 </span>Comment</h2>
      <% else %>
        <h2>
          <span class="comment-count">
            <%= @post_comments.count %>
          </span>Comments
        </h2>
      <% end %>
      <p class="flash"><%= flash[:no_comment] %></p>
      <%= form_with model: @post_comment, url: post_post_comments_path(@post.id), local: true do |f| %>
        <div class="field">
          <%= f.text_area :comment, class: "comment-form", size: "58x4" %>
        </div>
        <div class="actions text-right">
          <%= f.submit "コメントする", class: "btn btn-success btn-sm" %>
        </div>
      <% end %>
      <table width="100%">
        <% @post_comments.reverse.each do |post_comment| %>
          <tr>
            <td class="col-md-9">
              <%= link_to user_path(post_comment.user.id) do %>
                <%= image_tag post_comment.user.image_id.url, size: "40" %><br />
              <% end %>
              <span class="name__date">
                <%= post_comment.user.name %>&emsp;
                <%= time_ago_in_words(post_comment.created_at) %>
              </span><br />
              <%= post_comment.comment %>
              <br />
              <br />
            </td>
            <td class="col-md-3">
              <div class="text-right">
                <% if post_comment.user == current_user %>
                  <%= link_to "削除する", post_post_comment_path(post_comment.id, post_comment.post.id), method: :delete, class: "btn btn-danger btn-sm" %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>