<div class="col-md-5">
  <table>
    <% users.slice(8..-1).each do |user| %>
      <tr>
        <td class="col-md-1">
          <%= link_to user_path(user.id) do %>
          <%= image_tag user.image_id.url, class: "user-image", size: "60x50" %>
          <% end %>
        </td>
        <td></td>
        <td class="col-md-3"><%= user.name %></td>
        <td></td>
        <td class="col-md-3">
          <% unless current_user == user %>
            <% if current_user.following?(user) %>
              <%= link_to "Unfollow", unfollow_path(user.id), method: :delete, class: "btn btn-danger btn-sm" %>
            <% else %>
              <%= link_to "Follow", follow_path(user.id), method: :post, class: "btn btn-primary btn-sm px-3" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="col-md-12 next-page">
    <%= paginate users %>
  </div>
</div>
